config MTK_GPU_SUPPORT
	tristate "Support MTK GPU"
	depends on ARM64
	depends on !MALI && MALI!=m
	help
	  config supports MTK GPU driver
	  CONFIG_MTK_GPU_SUPPORT defines
	  The gpu driver would be built-in, as kernel module or not supported

config MTK_GPUFREQ_V2
	bool "MTK GPUFREQ Version 2"
	depends on MTK_GPU_SUPPORT
	default y
	help
	  Support for gpufreq version 2.
	  CONFIG_MTK_GPUFREQ_V2 defines
	  if the gpufreq driver should go to version 2

config MTK_GPU_QOS_FRAMEWORK
	bool "MTK GPU QoS Framework"
	depends on MTK_GPU_SUPPORT
	default y
	help
	  This kernel config can be used to enable MTK QOS FRAMEWORK
	  for GPU QoS.

source "$(MALI_KCONFIG_EXT_PREFIX)drivers/gpu/mediatek/arm/Kconfig"
