// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/*
 * Copyright (C) 2025 Google Inc.
 *
 * Sku id: cached_sku_code & 0xFFFFFF00 | panel_id
 * panel_id:
 *	MIPI_TIANMA_TL121BVMS07_00 0x22
 */
/dts-v1/;
#include "mt8189-skywalker-padme.dtsi"

/ {
	model = "Google Padme sku1314 board";
	compatible = "google,padme-sku1314", "google,padme", "mediatek,mt8189";
};

&ap_sar_sensor {
	status = "disabled";
};

&i2c2 {
	/delete-node/ audio-codec@1a;

	rt5682i: audio-codec@1a {
		compatible = "realtek,rt5682i";
		reg = <0x1a>;
		interrupts-extended = <&pio 4 IRQ_TYPE_EDGE_BOTH>;
		pinctrl-names = "default";
		pinctrl-0 = <&audio_codec_pins>;
		#sound-dai-cells = <0>;

		AVDD-supply = <&mt6359_vio18_ldo_reg>;
		DBVDD-supply = <&mt6359_vio18_ldo_reg>;
		LDO1-IN-supply = <&mt6359_vio18_ldo_reg>;
		MICVDD-supply = <&pp3300_z1>;
		realtek,jd-src = <1>;
		status = "okay";
	};
};

&sound {
	compatible = "mediatek,mt8189-rt5682i-sound";
	model = "mt8189_35l51_rt5682i";
	status = "okay";

	audio-routing = "I2SOUT1", "ETDMOUT_SPK_PIN",
			"I2SOUT0", "ETDMIN_HP_PIN",
			"I2SOUT0", "ETDMOUT_HP_PIN",
			"I2SIN0", "ETDMIN_HP_PIN",
			"I2SIN0", "ETDMOUT_HP_PIN",
			"IN1P", "Headset Mic",
			"PCM 0 Playback", "ETDMOUT_HDMI_PIN",
			"AP DMIC Capture", "AP_DMIC0_PIN",
			"AP DMIC CH34 Capture", "AP_DMIC1_PIN";

	dai-link-1 {
		link-name = "I2SOUT0_BE";
		mediatek,clk-provider = "cpu";

		codec {
			sound-dai = <&rt5682i>;
		};
	};

	dai-link-2 {
		link-name = "I2SIN0_BE";
		mediatek,clk-provider = "cpu";

		codec {
			sound-dai = <&rt5682i>;
		};
	};
};

&usb_a0 {
	status = "disabled";
};

&usb_a1 {
	status = "disabled";
};

&usb_hub_2_x {
	status = "disabled";
};

&usb_hub_3_x {
	status = "disabled";
};
