// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/*
 * Copyright (C) 2025 Google Inc.
 */
/dts-v1/;
#include "mt8189-skywalker.dtsi"

/ {
	connector-hdmi {
		status = "disabled";
	};

	/delete-node/ rt9123;

	rt1019p: audio-codec {
		compatible = "realtek,rt1019p";
		#sound-dai-cells = <0>;
		pinctrl-names = "default";
		pinctrl-0 = <&audio_spk_en_pins>;
		sdb-gpios = <&pio 5 GPIO_ACTIVE_HIGH>;
	};

	/* system wide LDO 3.3V power rail */
	pp3300_z5: regulator-pp3300-ldo-z5 {
		compatible = "regulator-fixed";
		regulator-name = "pp3300_ldo_z5";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&ppvar_sys>;
	};
};

&ap_i2c_sar {
	status = "disabled";
};

&ap_i2c_hdmi {
	status = "disabled";
};

&ap_i2c_tchpad {
	/delete-node/ trackpad@15;

	trackpad_elan: trackpad@15 {
		compatible = "elan,ekth3000";
		reg = <0x15>;
		interrupts-extended = <&pio 125 IRQ_TYPE_LEVEL_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&trackpad_pins>;
		wakeup-source;
		vcc-supply = <&pp3300_s3>;
		status = "fail-needs-probe";
	};

	trackpad_synaptics: trackpad@2c  {
		compatible = "hid-over-i2c";
		reg = <0x2c>;
		interrupts-extended = <&pio 125 IRQ_TYPE_LEVEL_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&trackpad_pins>;
		wakeup-source;
		hid-descr-addr = <0x20>;
		vdd-supply = <&pp3300_s3>;
		status = "fail-needs-probe";
	};

	trackpad_pixart: trackpad@68 {
		compatible = "hid-over-i2c";
		reg = <0x68>;
		interrupts-extended = <&pio 125 IRQ_TYPE_LEVEL_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&trackpad_pins>;
		wakeup-source;
		hid-descr-addr = <0x20>;
		vdd-supply = <&pp3300_s3>;
		status = "fail-needs-probe";
	};
};

&ap_i2c_tchscr {
	touchscreen_ilitek: touchscreen@41 {
		status = "fail-needs-probe";
	};

	touchscreen_elan_10: touchscreen@10 {
		compatible = "elan,ekth5015m", "elan,ekth6915";
		reg = <0x10>;
		interrupts-extended = <&pio 15 IRQ_TYPE_LEVEL_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&touchscreen_pins>;
		reset-gpios = <&pio 126 GPIO_ACTIVE_LOW>;
		vcc33-supply = <&pp3300_tchscr_x>;
		vccio-supply = <&pp1800_tchscr_report_disable>;
		status = "fail-needs-probe";
	};

	touchscreen_elan: touchscreen@16 {
		compatible = "elan,ekth6a12nay";
		reg = <0x16>;
		interrupts-extended = <&pio 15 IRQ_TYPE_LEVEL_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&touchscreen_pins>;
		reset-gpios = <&pio 126 GPIO_ACTIVE_LOW>;
		vcc33-supply = <&pp3300_tchscr_x>;
		vccio-supply = <&pp1800_tchscr_report_disable>;
		status = "fail-needs-probe";
	};

	touchscreen_parade: touchscreen@24 {
		compatible = "parade,tc3408";
		reg = <0x24>;
		interrupts-extended = <&pio 15 IRQ_TYPE_LEVEL_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&touchscreen_pins>;
		reset-gpios = <&pio 126 GPIO_ACTIVE_LOW>;
		vcc33-supply = <&pp3300_tchscr_x>;
		vccio-supply = <&pp1800_tchscr_report_disable>;
		status = "fail-needs-probe";
	};

	touchscreen_g2touch: touchscreen@40 {
		compatible = "ilitek,ili2901";
		reg = <0x40>;
		interrupts-extended = <&pio 15 IRQ_TYPE_LEVEL_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&touchscreen_pins>;
		reset-gpios = <&pio 126 GPIO_ACTIVE_LOW>;
		vcc33-supply = <&pp3300_tchscr_x>;
		vccio-supply = <&pp1800_tchscr_report_disable>;
		status = "fail-needs-probe";
	};
};

&dsi0 {
	status = "disabled";
};

&ap_i2c_aud {
	/delete-node/ audio-codec@1a;

	rt5682s: audio-codec@1a {
		compatible = "realtek,rt5682s";
		reg = <0x1a>;
		interrupts-extended = <&pio 4 IRQ_TYPE_EDGE_BOTH>;
		pinctrl-names = "default";
		pinctrl-0 = <&audio_codec_pins>;
		#sound-dai-cells = <0>;

		AVDD-supply = <&mt6359_vio18_ldo_reg>;
		DBVDD-supply = <&mt6359_vio18_ldo_reg>;
		LDO1-IN-supply = <&mt6359_vio18_ldo_reg>;
		MICVDD-supply = <&pp3300_z1>;
		VBAT-supply = <&pp3300_z5>;
		realtek,jd-src = <1>;
	};
};

&i2c_tunnel {
	google,remote-bus = <1>;
	battery: sbs-battery@b {
		sbs,i2c-retry-count = <2>;
		sbs,poll-retry-count = <10>;
	};
};

&keyboard_controller {
	keypad,num-columns = <18>;

	function-row-physmap = <
		MATRIX_KEY(0x00, 0x02, 0)		/* T1 */
		MATRIX_KEY(0x03, 0x02, 0)		/* T2 */
		MATRIX_KEY(0x02, 0x02, 0)		/* T3 */
		MATRIX_KEY(0x01, 0x02, 0)		/* T4 */
		MATRIX_KEY(0x04, 0x04, 0)		/* T5 */
		MATRIX_KEY(0x02, 0x04, 0)		/* T6 */
		MATRIX_KEY(0x01, 0x04, 0)		/* T7 */
		MATRIX_KEY(0x02, 0x0b, 0)		/* T8 */
		MATRIX_KEY(0x01, 0x09, 0)		/* T9 */
		MATRIX_KEY(0x00, 0x04, 0)		/* T10 */
		MATRIX_KEY(0x00, 0x01, 0)		/* T11 */
		MATRIX_KEY(0x01, 0x05, 0)		/* T12 */
		MATRIX_KEY(0x03, 0x05, 0)		/* T13 */
		MATRIX_KEY(0x00, 0x0b, 0)		/* T14 */
	>;

	linux,keymap = <
		CROS_TOP_ROW_KEYMAP_V30
		CROS_MAIN_KEYMAP_V30

		MATRIX_KEY(0x00, 0x02, KEY_BACK)		/* T1 */
		MATRIX_KEY(0x03, 0x02, KEY_REFRESH)		/* T2 */
		MATRIX_KEY(0x02, 0x02, KEY_ZOOM)		/* T3 */
		MATRIX_KEY(0x01, 0x02, KEY_SCALE)		/* T4 */
		MATRIX_KEY(0x04, 0x04, KEY_SYSRQ)		/* T5 */
		MATRIX_KEY(0x02, 0x04, KEY_BRIGHTNESSDOWN)	/* T6 */
		MATRIX_KEY(0x01, 0x04, KEY_BRIGHTNESSUP)	/* T7 */
		MATRIX_KEY(0x02, 0x0b, KEY_DICTATE)	        /* T8 */
		MATRIX_KEY(0x01, 0x09, KEY_ACCESSIBILITY)	/* T9 */
		MATRIX_KEY(0x00, 0x04, KEY_PLAYPAUSE)		/* T10 */
		MATRIX_KEY(0x00, 0x01, KEY_MICMUTE)		/* T11 */
		MATRIX_KEY(0x01, 0x05, KEY_MUTE)		/* T12 */
		MATRIX_KEY(0x03, 0x05, KEY_VOLUMEDOWN)		/* T13 */
		MATRIX_KEY(0x00, 0x0b, KEY_VOLUMEUP)		/* T14 */
	>;
};

&mmc0 {
	vmmc-supply = <&mt6359_vemc_1_ldo_reg>;
	vqmmc-supply = <&mt6359_vufs_ldo_reg>;

	status = "okay";
};

&mmc1 {
	status = "disabled";
};

&mt6359_vufs_ldo_reg {
	regulator-always-on;
};

&pmic {
	/delete-node/ mt6359codec;
};

&sound {
	compatible = "mediatek,mt8189-rt5682s-sound";
	model = "mt8189_1019_rt5682s";
	status = "okay";

	dai-link-0 {
		link-name = "I2SOUT1_BE";
		mediatek,clk-provider = "cpu";

		codec {
			sound-dai = <&rt1019p>;
		};
	};

	dai-link-1 {
		link-name = "I2SOUT0_BE";
		mediatek,clk-provider = "cpu";

		codec {
			sound-dai = <&rt5682s>;
		};
	};

	dai-link-2 {
		link-name = "I2SIN0_BE";
		mediatek,clk-provider = "cpu";

		codec {
			sound-dai = <&rt5682s>;
		};
	};

	/* delete dai-link-6 because remove hdmi bridge */
	/delete-node/ dai-link-6;
};

&spi1 {
	status = "disabled";
};

&u3phy0 {
	status = "okay";
};

&ufshci {
	status = "disabled";
};

/* USB hub port 1 */
&usb_hub_dsp1_hs {
	remote-endpoint = <&usb_c0_hs>;
};

&usb_c0_hs {
	remote-endpoint = <&usb_hub_dsp1_hs>;
};

&usb_hub_dsp1_ss {
	remote-endpoint = <&usb_c0_ss>;
};

&usb_c0_ss {
	remote-endpoint = <&usb_hub_dsp1_ss>;
};

/* USB hub port 2 */
&usb_hub_dsp2_hs {
	remote-endpoint = <&usb_c1_hs>;
};

&usb_c1_hs {
	remote-endpoint = <&usb_hub_dsp2_hs>;
};

&usb_hub_dsp2_ss {
	remote-endpoint = <&usb_c1_ss>;
};

&usb_c1_ss {
	remote-endpoint = <&usb_hub_dsp2_ss>;
};

/* USB hub port 3 */
&usb_hub_dsp3_hs {
	remote-endpoint = <&usb_a0_hs>;
};

&usb_a0_hs {
	remote-endpoint = <&usb_hub_dsp3_hs>;
};

&usb_hub_dsp3_ss {
	remote-endpoint = <&usb_a0_ss>;
};

&usb_a0_ss {
	remote-endpoint = <&usb_hub_dsp3_ss>;
};

/* USB hub port 4 */
&usb_hub_dsp4_hs {
	remote-endpoint = <&usb_a1_hs>;
};

&usb_a1_hs {
	remote-endpoint = <&usb_hub_dsp4_hs>;
};

&usb_hub_dsp4_ss {
	remote-endpoint = <&usb_a1_ss>;
};

&usb_a1_ss {
	remote-endpoint = <&usb_hub_dsp4_ss>;
};

&xhci0 {
	status = "okay";
};
