// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/*
 * Copyright (C) 2025 Google Inc.
 */
/dts-v1/;
#include "mt8189-skywalker-anakin.dtsi"

/ {
	model = "Google Anakin sku0/3/4/6/7/9 board";
	compatible = "google,anakin-sku0", "google,anakin-sku3",
		     "google,anakin-sku4", "google,anakin-sku6",
		     "google,anakin-sku7", "google,anakin-sku9",
		     "google,anakin-sku10", "google,anakin",
		     "mediatek,mt8189";
};

&ap_i2c_tchscr {
	status = "disabled";
};

&keyboard_controller {
	keypad,num-columns = <18>;

	function-row-physmap = <
		MATRIX_KEY(0x00, 0x02, 0)        /* T1 */
		MATRIX_KEY(0x03, 0x02, 0)        /* T2 */
		MATRIX_KEY(0x02, 0x02, 0)        /* T3 */
		MATRIX_KEY(0x01, 0x02, 0)        /* T4 */
		MATRIX_KEY(0x04, 0x04, 0)        /* T5 */
		MATRIX_KEY(0x02, 0x04, 0)        /* T6 */
		MATRIX_KEY(0x01, 0x04, 0)        /* T7 */
		MATRIX_KEY(0x02, 0x0b, 0)        /* T8 */
		MATRIX_KEY(0x01, 0x09, 0)        /* T9 */
		MATRIX_KEY(0x00, 0x04, 0)        /* T10 */
		MATRIX_KEY(0x00, 0x01, 0)        /* T11 */
		MATRIX_KEY(0x01, 0x05, 0)        /* T12 */
		MATRIX_KEY(0x03, 0x05, 0)        /* T13 */
		MATRIX_KEY(0x00, 0x0b, 0)        /* T14 */
	>;

	linux,keymap = <
		CROS_TOP_ROW_KEYMAP_V30
		CROS_MAIN_KEYMAP_V30
		MATRIX_KEY(0x00, 0x02, KEY_BACK)            /* T1 */
		MATRIX_KEY(0x03, 0x02, KEY_REFRESH)         /* T2 */
		MATRIX_KEY(0x02, 0x02, KEY_ZOOM)            /* T3 */
		MATRIX_KEY(0x01, 0x02, KEY_SCALE)           /* T4 */
		MATRIX_KEY(0x04, 0x04, KEY_SYSRQ)           /* T5 */
		MATRIX_KEY(0x02, 0x04, KEY_BRIGHTNESSDOWN)  /* T6 */
		MATRIX_KEY(0x01, 0x04, KEY_BRIGHTNESSUP)    /* T7 */
		MATRIX_KEY(0x02, 0x0b, KEY_MUTE)            /* T8 */
		MATRIX_KEY(0x01, 0x09, KEY_VOLUMEDOWN)      /* T9 */
		MATRIX_KEY(0x00, 0x04, KEY_VOLUMEUP)        /* T10 */
		MATRIX_KEY(0x00, 0x01, KEY_MICMUTE)         /* T11 */
		MATRIX_KEY(0x01, 0x05, KEY_CONTROLPANEL)    /* T12 */
		MATRIX_KEY(0x03, 0x05, KEY_PREVIOUSSONG)    /* T13 */
		MATRIX_KEY(0x00, 0x0b, KEY_PLAYPAUSE)       /* T14 */
		MATRIX_KEY(0x02, 0x09, KEY_NEXTSONG)        /* 76 */
		MATRIX_KEY(0x03, 0x00, KEY_LEFTMETA)        /* Search*/
		MATRIX_KEY(0x01, 0x0e, KEY_LEFTCTRL)        /* Left Control*/
		MATRIX_KEY(0x06, 0x0d, KEY_LEFTALT)         /* Left ALT*/
		MATRIX_KEY(0x03, 0x0e, KEY_RIGHTCTRL)       /* Right Control*/
		MATRIX_KEY(0x02, 0x07, KEY_102ND)           /* 45 \*/
		MATRIX_KEY(0x06, 0x0a, KEY_BACKSLASH)       /* 42 #*/
		MATRIX_KEY(0x02, 0x0a, KEY_YEN)             /* JP */
		MATRIX_KEY(0x04, 0x0a, KEY_FN)              /* FN */
	>;
};

&usb_c1 {
	status = "disabled";
};
