config MTK_DVFSRC_HELPER
	tristate "MTK DVFSRC Helper debugging Support"
	depends on MTK_DVFSRC
	depends on INTERCONNECT_MTK
	help
	  This kernel config can be used to debug dvfsrc (dynamic voltage
	  and frequency scaling resource collector) for Mediatek vcore_dvfs.
	  When enable this option, we can trace the control flow for dvfsrc
	  and dump current vcore and dram information.
	  If unsure, say N.
