# SPDX-License-Identifier: GPL-2.0

config INTERCONNECT_MTK
	bool "Mediatek Network-on-Chip interconnect drivers"
	depends on ARCH_MEDIATEK
	help
	  Support for Mediatek's Network-on-Chip interconnect hardware.

config INTERCONNECT_MTK_EMI
	tristate "Mediatek EMI interconnect driver"
	depends on INTERCONNECT_MTK
	help
	  This is a driver for the Mediatek Network-on-Chip on DVFSRC-based
	  platforms.

config INTERCONNECT_MTK_MMQOS_COMMON
	tristate "Mediatek MMQoS support"
	depends on INTERCONNECT_MTK
	depends on ARCH_DMA_ADDR_T_64BIT
	select INTERCONNECT_MTK_EXTENSION
	help
	  Support for multimedia QoS in Mediatek's SoCs.
	  The Mediatek MMQoS(Multimedia Quality of Service) Interconnect
	  driver will collect BW requests from MM users, such as display,
	  camera, mdp and video codec, and configure SMI settings dynamically
	  according to the aggregated BW.

config MTK_MMQOS_VCP
	tristate "MediaTek MMQOS VCP Support"
	depends on ARCH_MEDIATEK || COMPILE_TEST
	depends on INTERCONNECT_MTK
	depends on ARCH_DMA_ADDR_T_64BIT
	depends on MTK_SMI
	help
	  Say yes here to add support for the MediaTek Multimedia QoS (MMQOS)
	  for Video Control Processor (VCP). The MMQOS is used to set bw
	  for Mediatek multimedia hardwares, such as display, camera, mdp and
	  video codec. And VCP support is for video codec set bw in tinysys vcp.
	  Say no if your device does not need to MMQoS support in VCP.

config INTERCONNECT_MTK_MMQOS_MT8196
	tristate "Mediatek MT8196 MMQoS interconnect driver"
	depends on INTERCONNECT_MTK
	depends on MTK_SMI
	depends on MTK_MMQOS_VCP
	select INTERCONNECT_MTK_MMQOS_COMMON
	help
	  Support MT8196 for multimedia QoS in Mediatek's SoCs.
	  The Mediatek MMQoS(Multimedia Quality of Service) Interconnect
	  driver will collect BW requests from MM users, such as display,
	  camera, mdp and video codec, and configure SMI settings dynamically
	  according to the aggregated BW.
